<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing GET</title>
</head>
<body>
    <h1>Testing GET</h1>
    <form action="/testing" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>Submit</button>
    </form>
    <br><br><br>
    <form action="/sample-get">
        <input type="text" name="name" placeholder="Full name">
        <button>Submit</button>
    </form>
</body>
</html>